<h1>Log In</h1>

<%= form_for(:session, url: login_path) do |f| %>

<p>
  <%= f.label :name, "User Name" %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.submit "Log In" %>
</p>

<% end %>

<p> 
  <%= link_to "Go Back", '/users' %>
</p>