<h1>Welcome to Private Events Hub</h1>

<h2>Log In</h2>

<%= form_for(:session, url: login_path) do |f| %>

<p>
  <%= f.label :name, "User Name" %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.submit "Log In" %>
</p>

<% end %>


<p>
  New here? <%= link_to "Sign up!", signup_path %>
</p>
