<h1><%= @user.name %></h1>

<h2>My Events</h2>

<% if @created_events.any? %>
 <% @created_events.each do |event| %>
  <h3><u><%= event.description %></u></h3>
  <p><%= event.event_date %></p>
  <br>
 <% end %>
<% end %>

<% if @upcoming_events.any? %>
 <h2>Upcoming Events</h2>
  <% @upcoming_events.each do |event| %>
   <h3><u><%= event.description %></u></h3>
   <p><%= event.event_date %></p>
   <br>
  <% end %>
<% end %>

<% if @past_events.any? %>
 <h2>Previously Attended Events</h2>
  <% @past_events.each do |event| %>
   <h3><u><%= event.description %></u></h3>
   <p><%= event.event_date %></p>
   <br>
  <% end %>
<% end %>


<br>

<%= link_to "Create a New Event", new_event_path %>
<br>
<%= link_to "All Events", '/events' %>
