<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '/login' %></li>
        <li><%= link_to "Users",   '/users' %></li>
        <li><%= link_to "Events", '/events' %></li>
      </ul>
    </nav>
    <p><%= flash.notice %></p>
    <%= yield %>
  </body>
</html>
